{% extends "base.html" %}

{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}

{% block styles %}
<style>
        body {
            background-color: #632e35;
        }

        .btn-link {
            color: #d85c71;
            text-shadow: none;
        }
        .btn-link:hover {
            color: #000000;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class=''>
    <h1>Created!</h1>
    <p>{{ object.url }}</p>
    <p>Count {{ object.clickevent.count }}</p>
    <p><a class='btn btn-link' href='{{ object.get_short_url }}'>{{ object.get_short_url }}</a></p>
    <a class='btn btn-default' href='/'>+ New</a>
</div>
{% endblock content %}